$day-size: 100px;
$gap-size: 1px;
$padding-size: 10px;
$columns: 7;
$total-days-width: $day-size * $columns;
$total-gaps-width: $gap-size * ($columns - 1);
$total-paddings-width: $padding-size * 2;
$calendar-width: $total-days-width + $total-gaps-width + $total-paddings-width;
$color-border: #000;
$color-days: #eee;
